@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white:#fff;
  --primary-main:#61dafb;
  --primary-dark:rgba(255,255,255, 0);
  --primary-red:#ef4035;
  --primary-hover-red:#f33501;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-main);
  font-family: 'Roboto Condensed', sans-serif;
}

/* ***********************************************Navbar *********************************** */
.logo{
  width:16.25rem;
}

/* Nav links */
 nav a.nav-link{
   letter-spacing: 0.0375rem;
   cursor: pointer;
 }

 nav ul li {
   text-transform: uppercase;
 }
.navbar-nav >li > a {
  margin: 0 0.175rem 0 0.175rem;
  border-top: 0.1875rem solid var(--primary-dark);
  color: var(--primary-white) !important;
}
.navbar-nav >li > a:hover {
  border-top: 0.1875rem solid var(--primary-main);
  color:var(--primary-main) ;
}
.navbar-nav >li > a.active, .navbar-nav >li > a:focus{
  border-top: 0.1875rem solid var(--primary-main);
  color:var(--primary-main) !important;
}
.navbar-brand{
  max-width:17.25rem;
  padding:0 !important;
  height:6rem;
  margin-bottom: 5px;
}


/******************************************* Header ********************************************************* */
.header-wrapper{
  position: relative;
  background:url('./bg-wall.jpg') no-repeat ;
  background-size: cover;
  background-position: center;
  height: 90vh;
}
.main-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
.main-info h1{
  text-transform: uppercase;
  color:var(--primary-main)
}

/* Typed text */
.typed-text{
  font-size: 2rem;
  color:var(--primary-white)
}
.btn-main-info{
  border:1px solid var(--primary-red);
  border-radius: 0;
  text-transform: uppercase;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
}